/*
#f9a91a--> Laboratoria
#f5f5f0--> Color de fondo
#e0e0d1--> Color hover
#333--> Color de active
font-family--> sans serif*/

/*Para que toda nuestra web tenga una misma tipografía*/
body {
  font-family: sans-serif;

}
/*editamos la barra de menú*/
nav {
  display: inline-block; /*convertimos*/
}
/*editando nuestra lista de menu*/
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: 200px;
  line-height: 26px;

}

/*a la etiqueta li, le otorgamos el tono grisáceo*/
li {
  background: #f5f5f0;
}

/*Estados de los enlaces
pueden ser: (memotecnia: LoVe/HAte)
 .link
 .Visted
 .Hover
 .Active
 */
/*Modificamos a la etiqueta anchore*/
a {
  width: 190px; /*ancho*/
  height: 20px; /*alto*/
  display: block; /*que se comporte como bloque*/
  text-decoration: none; /*quitamos la edición del navegador*/
  color: #000; /*Fuente color negro*/
  padding-left: 10px; /*Padding hacia la izquierda*/
}

 /*Pseudoselectores*/
 /*Hover es uno de los estado de los enlaces*/
a:hover { /*cambiamos a un tono grisáceo más oscuro*/
  background: #e0e0d1
}
/*Active es el estado de "click"*/
a:active {
  background: #333;
  color: #fff;
}

/*llamamos a ul, ingresamos a la etiqueta li, y a su primer hijo, luego a la etiqueta anchore dentro de este*/
ul li:first-child a {
  color: #fff;
}

/*llamamos a ul, ingresamos a la etiqueta li, y a su primer hijo que es anchore*/
/*Entonces le decimos que cuando este esté en estado hover, pase lo siguiente:*/
ul li:first-child a:hover {
  color: #000; /*Que se vuelva de color negro*/
}
/*llamamos a ul, ingresamos a la etiqueta li, y a su primer hijo*/
/*Entonces le decimos que cuando este esté en estado active, pase lo siguiente:*/
ul li:first-child a:active {
  color: #fff; /*se vuelve blanco*/
}



ul li:first-child {
  background:#f9a91a
}
